In [2]:
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

engine = create_engine('sqlite:///league_2017.sqlite')

Base = automap_base()
Base.prepare(engine, reflect = True)

Base.classes.keys()

['table_2017']

In [3]:
inspector = inspect(engine)

table_columns = inspector.get_columns('table_2017')
for column in table_columns:
    print(column['name']), column['type']

id
Team
Playoffs
Points
Fenwick_Close
SOG_Close
Gpercent_Tied

In [4]:
Table_2017 = Base.classes.table_2017

session = Session(bind = engine)

In [5]:
sel = [
    Table_2017.Team,
    Table_2017.Points,
    Table_2017.Fenwick_Close,
    Table_2017.SOG_Close,
    Table_2017.Gpercent_Tied
]

team_playoff = session.query(*sel).filter(Table_2017.Playoffs == 'Playoff').all()

In [6]:
sel = [
    Table_2017.Team,
    Table_2017.Points,
    Table_2017.Fenwick_Close,
    Table_2017.SOG_Close,
    Table_2017.Gpercent_Tied
]

team_dnq = session.query(*sel).filter(Table_2017.Playoffs == 'DNQ').all()

In [7]:
team_playoff_df = pd.DataFrame(team_playoff)
team_playoff_df.head()

  Team  Points  Fenwick_Close  SOG_Close  Gpercent_Tied
0  ANA      74          54.33      53.81          54.32
1  CHI      79          51.35      51.00          60.00
2  DAL      80          53.54      52.82          47.42
3  DET      69          49.45      48.96          52.04
4  FLA      77          48.90      48.88          61.84

In [8]:
team_playoff_df['Team'].count()

32

In [9]:
team_dnq_df = pd.DataFrame(team_dnq)
team_dnq_df.head()

  Team  Points  Fenwick_Close  SOG_Close  Gpercent_Tied
0  ARI      60          44.81      44.61          50.59
1  BOS      70          50.27      51.62          52.63
2  BUF      55          46.40      47.39          45.26
3  CAR      64          53.01      53.45          46.32
4  CBJ      55          48.74      49.19          42.55

In [10]:
team_dnq_df['Team'].count()

28

### III.01

In [ ]:
# Reformat the data

data = team_playoff_df.values 

X = data[:, 1:5]
y = data[:, 0]

In [ ]:
from sklearn.preprocessing import LabelEncoder

#Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)

In [ ]:
for label, Team in zip(encoded_y, y):
    print('Team: ' + str(Team))
    print('Encoded Label: ' + str(label))
    print('-' *12)

### III.05

In [51]:
league_2017_ml = pd.read_csv('csv_data/_training.testing.ml.csv')
league_2017_ml.head()

  Team  Points
0  ARI      74
1  ARI      60
2  ARI      70
3  ARI      55
4  ARI      64

In [52]:
unique_teams = league_2017_ml['Team'].unique()
len(unique_teams)

2

In [53]:
X = league_2017_ml.drop('Team', axis = 1)
y = league_2017_ml['Team']

In [54]:
#data pre-processing

print(X.shape, y.shape)

(60, 1) (60,)

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

In [56]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state = 1, stratify = y)

In [59]:
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [60]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [61]:
encoded_y_train

array([1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0], dtype=int64)