In [1]:
#Dependencies

import pandas as pd
import numpy as np

league_2017_ml = pd.read_csv('csv_data/_training.testing.ml.csv')


league_2017_ml.head()

,Abbrev,Playoffs?,Seeding,Conference,Division,Season End,Cumulative Games,Points,Corsi Close,Fenwick Close,...,M Agnst Up 1,B% Down 1,B For Down 1,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1
0,ANA,Playoff,Pacific 1,Western,Pacific,2016,82,103,53.68,54.06,...,154,59.13,149,103,52.45,385,349,48.63,195,206
1,ARI,DNQ,NaN,Western,Pacific,2016,82,78,45.65,45.07,...,199,55.06,196,160,45.38,295,355,43.02,154,204
2,BOS,DNQ,NaN,Eastern,Atlantic,2016,82,93,49.87,50.06,...,176,53.98,156,133,51.31,392,372,41.82,161,224
3,BUF,DNQ,NaN,Eastern,Atlantic,2016,82,81,47.02,46.92,...,138,51.19,215,205,47.49,340,376,41.22,115,164
4,CAR,DNQ,NaN,Eastern,Metropolitan,2016,82,86,51.55,50.73,...,159,60.19,195,129,54.29,424,357,47.80,163,178

In [2]:
unique_teams = league_2017_ml['Playoffs?'].unique()
len(unique_teams)

2

In [3]:
X = league_2017_ml.drop('Playoffs?', axis = 1)
y = league_2017_ml['Playoffs?']

In [4]:
print(X.shape, y.shape)

(240, 45) (240,)

### apply one-hot encoding

In [5]:
data  = X.values
X = data[:, 0:4]

In [7]:
y =

0      Playoff
1          DNQ
2          DNQ
3          DNQ
4          DNQ
5          DNQ
6          DNQ
7      Playoff
8          DNQ
9      Playoff
10     Playoff
11         DNQ
12     Playoff
13     Playoff
14     Playoff
15         DNQ
16         DNQ
17     Playoff
18     Playoff
19     Playoff
20         DNQ
21     Playoff
22     Playoff
23     Playoff
24     Playoff
25     Playoff
26         DNQ
27         DNQ
28         DNQ
29     Playoff
        ...
210    Playoff
211        DNQ
212    Playoff
213        DNQ
214        DNQ
215    Playoff
216    Playoff
217    Playoff
218        DNQ
219        DNQ
220        DNQ
221    Playoff
222        DNQ
223        DNQ
224    Playoff
225    Playoff
226        DNQ
227    Playoff
228        DNQ
229    Playoff
230    Playoff
231        DNQ
232    Playoff
233    Playoff
234    Playoff
235        DNQ
236    Playoff
237        DNQ
238        DNQ
239    Playoff
Name: Playoffs?, Length: 240, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state = 1, stratify = y)

In [ ]:
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)