In [1]:
import pandas as pd
import numpy as np

league_2017_ml = pd.read_csv('csv/training_nhl.20162017/_training.testing.ml.csv')
league_2017_ml.head()

,Abbrev,Conference,Division,Season End,Points,Corsi Close,Fenwick Close,G% Down 1,G For Down 1,G Agnst Down 1,...,B% Down 1,B For Down 1,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1,Playoffs?
0,ANA,Western,Pacific,2016,103,53.68,54.06,45.45,20,24,...,59.13,149,103,52.45,385,349,48.63,195,206,Playoff
1,ARI,Western,Pacific,2016,78,45.65,45.07,38.46,20,32,...,55.06,196,160,45.38,295,355,43.02,154,204,DNQ
2,BOS,Eastern,Atlantic,2016,93,49.87,50.06,54.39,31,26,...,53.98,156,133,51.31,392,372,41.82,161,224,DNQ
3,BUF,Eastern,Atlantic,2016,81,47.02,46.92,43.75,28,36,...,51.19,215,205,47.49,340,376,41.22,115,164,DNQ
4,CAR,Eastern,Metropolitan,2016,86,51.55,50.73,52.24,35,32,...,60.19,195,129,54.29,424,357,47.80,163,178,DNQ

### apply one-hot encoding

In [2]:
data  = league_2017_ml.values
Abbrev = data[:, 0]
Conference = data[:,1]
Division = data[:,2]
Label = data[:, 43 ]

In [3]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [4]:
label_encoder.fit(Abbrev)
encoded_abbrev = label_encoder.transform(Abbrev)

In [5]:
label_encoder.fit(Conference)
encoded_conference = label_encoder.transform(Conference)

In [6]:
label_encoder.fit(Division)
encoded_division = label_encoder.transform(Division)

In [7]:
label_encoder.fit(Label)
encoded_label = label_encoder.transform(Label)

In [8]:
concatenate = {'Abbrev': encoded_abbrev,
               'Conference': encoded_conference,
               'Division': encoded_division, 
               'Label': encoded_label,
               }

encoding_df = pd.DataFrame(data = concatenate)

In [9]:
encoding_df.head()

   Abbrev  Conference  Division  Label
0       0           1         3      1
1       1           1         3      0
2       2           0         0      0
3       3           0         0      0
4       4           0         2      0

In [ ]:
# encoding_df.to_csv('csv/encoded_20162017.csv', index = False)

### Neural Network

In [10]:
encoded_ml = pd.read_csv('csv/encoded_20162017.csv')
encoded_ml.head()

,Abbrev,Conference,Division,Label,Season End,Points,Corsi Close,Fenwick Close,G% Down 1,G For Down 1,...,M Agnst Up 1,B% Down 1,B For Down 1,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1
0,0,1,3,1,2016,103,53.68,54.06,45.45,20,...,154,59.13,149,103,52.45,385,349,48.63,195,206
1,1,1,3,0,2016,78,45.65,45.07,38.46,20,...,199,55.06,196,160,45.38,295,355,43.02,154,204
2,2,0,0,0,2016,93,49.87,50.06,54.39,31,...,176,53.98,156,133,51.31,392,372,41.82,161,224
3,3,0,0,0,2016,81,47.02,46.92,43.75,28,...,138,51.19,215,205,47.49,340,376,41.22,115,164
4,4,0,2,0,2016,86,51.55,50.73,52.24,35,...,159,60.19,195,129,54.29,424,357,47.80,163,178

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

Using TensorFlow backend.

In [12]:
X = encoded_ml.drop('Label', axis = 1)
y = encoded_ml['Label']

In [27]:
X.shape

(240, 43)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state = 1, stratify = y)

In [29]:
X_test.head()

,Abbrev,Conference,Division,Season End,Points,Corsi Close,Fenwick Close,G% Down 1,G For Down 1,G Agnst Down 1,...,M Agnst Up 1,B% Down 1,B For Down 1,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1
28,28,1,1,2016,78,50.88,50.72,52.94,36,32,...,122,58.82,280,196,49.42,340,348,43.27,119,156
210,0,1,3,2017,22,50.26,49.60,80.00,8,2,...,80,71.43,35,14,45.73,91,108,44.74,68,84
9,9,1,1,2016,109,53.05,52.97,58.82,40,28,...,184,57.88,213,155,53.19,425,374,49.54,215,219
199,19,0,2,2017,53,49.00,50.24,50.00,16,16,...,98,60.34,105,69,43.05,161,213,41.78,89,124
62,2,0,0,2016,47,50.07,51.33,50.00,14,14,...,98,58.21,78,56,55.11,178,145,42.52,91,123

In [14]:
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [16]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [17]:
from keras.models import Sequential
from keras.layers import Dense

#Create model and add layers
model = Sequential()
model.add(Dense(units = 100, activation = 'relu', input_dim = 43))
model.add(Dense(units = 100, activation = 'relu'))
model.add(Dense(units = 2, activation = 'softmax'))

In [18]:
#compile and fit the model
model.compile(
    optimizer = 'adam',
    loss = 'categorical_crossentropy',
    metrics = ['accuracy'])

model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs = 20,
    shuffle = True,
    verbose = 2)

Epoch 1/20
 - 1s - loss: 0.6057 - acc: 0.6556
Epoch 2/20
 - 0s - loss: 0.3944 - acc: 0.8944
Epoch 3/20
 - 0s - loss: 0.2986 - acc: 0.9278
Epoch 4/20
 - 0s - loss: 0.2363 - acc: 0.9500
Epoch 5/20
 - 0s - loss: 0.1974 - acc: 0.9500
Epoch 6/20
 - 0s - loss: 0.1662 - acc: 0.9556
Epoch 7/20
 - 0s - loss: 0.1437 - acc: 0.9611
Epoch 8/20
 - 0s - loss: 0.1227 - acc: 0.9833
Epoch 9/20
 - 0s - loss: 0.1062 - acc: 0.9833
Epoch 10/20
 - 0s - loss: 0.0931 - acc: 0.9833
Epoch 11/20
 - 0s - loss: 0.0808 - acc: 0.9833
Epoch 12/20
 - 0s - loss: 0.0709 - acc: 0.9833
Epoch 13/20
 - 0s - loss: 0.0610 - acc: 0.9833
Epoch 14/20
 - 0s - loss: 0.0547 - acc: 0.9944
Epoch 15/20
 - 0s - loss: 0.0470 - acc: 0.9944
Epoch 16/20
 - 0s - loss: 0.0407 - acc: 0.9944
Epoch 17/20
 - 0s - loss: 0.0341 - acc: 0.9944
Epoch 18/20
 - 0s - loss: 0.0302 - acc: 0.9944
Epoch 19/20
 - 0s - loss: 0.0261 - acc: 1.0000
Epoch 20/20
 - 0s - loss: 0.0231 - acc: 1.0000

In [19]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled,
    y_test_categorical,
    verbose = 2)

print(f'Normal Neural Network| Loss: {model_loss}, Accuracy: {model_accuracy}')

Normal Neural Network| Loss: 0.23839540382226307, Accuracy: 0.9166666547457377

In [20]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

print(f'Predicted classes: {prediction_labels}')
print(f'Actual Labels: {list(y_test[:5])}')

Predicted classes: [0 1 1 1 0]
Actual Labels: [0, 1, 1, 1, 0]

### saving a trained model

In [21]:
#saving the trained model using the HDF5 binary format with the extension .h5

model.save('neural_model/neural_nhl.h5')

### evaluating the loaded model

In [22]:
#load the model

from keras.models import load_model
predict_team = load_model('neural_model/neural_nhl.h5')

In [23]:
model_loss, model_accuracy = predict_team.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.23839540382226307, Accuracy: 0.9166666547457377