In [28]:
import pandas as pd
import numpy as np

#read the training data into a dataframe
nhl_2018 = pd.read_csv('csv/encoded_2018.csv')

In [29]:
nhl_2018.head()

,Abbrev,Conference,Division,Season End,Points,Corsi Close,Fenwick Close,G% Down 1,G For Down 1,G Agnst Down 1,...,M Agnst Up 1,B% Down 1,B For Down 1,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1
0,0,1,3,2018,69,47.88,48.30,53.06,26,23,...,162,55.98,117,92,49.03,253,263,41.94,130,180
1,1,1,3,2018,44,47.44,45.97,48.89,22,23,...,167,55.00,165,135,53.78,349,300,45.57,149,178
2,2,0,0,2018,82,52.40,52.10,54.90,28,23,...,113,63.79,148,84,51.66,280,262,47.83,121,132
3,3,0,0,2018,45,47.17,46.89,33.87,21,41,...,87,58.65,183,129,43.22,185,243,37.97,71,116
4,4,0,2,2018,64,54.69,54.27,51.02,25,24,...,121,61.73,171,106,58.14,318,229,51.97,145,134

In [31]:
#convert dataframe to a numpy array for Keras

season_2018 = nhl_2018.values
season_2018

array([[   0.  ,    1.  ,    3.  , ...,   41.94,  130.  ,  180.  ],
       [   1.  ,    1.  ,    3.  , ...,   45.57,  149.  ,  178.  ],
       [   2.  ,    0.  ,    0.  , ...,   47.83,  121.  ,  132.  ],
       ...,
       [  28.  ,    1.  ,    3.  , ...,   45.83,  121.  ,  143.  ],
       [  29.  ,    1.  ,    1.  , ...,   49.54,  160.  ,  163.  ],
       [  30.  ,    0.  ,    2.  , ...,   44.72,  144.  ,  178.  ]])

In [32]:
season_2018.shape

(31, 43)

### loading the model

In [33]:
from keras.models import load_model
model = load_model('neural_model/neural_nhl.h5')

In [21]:
#Grab one data point to test with

test = np.expand_dims(season_2018[0], axis = 0)
test.shape

(1, 43)

### 1 = Playoffs | 0 = DNQ

In [35]:
model.predict_classes(season_2018)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1], dtype=int64)

In [20]:
print(f"Predicted class: {model.predict_classes(test)}")

Predicted class: [1]

In [ ]:
VAN OTT NYR