In [21]:
import pandas as pd
import numpy as np

#read the training data into a dataframe
nhl_2018 = pd.read_csv('csv/nhl.2018/nhl.encoded_2018.csv')
reverse_nhl_2018 = pd.read_csv('csv/nhl.2018/neural_model2018.csv')

In [23]:
reverse_nhl_2018.head()

,Team,Name,Conference,Division,Season End,Season Type,Cumulative Games,Points,Corsi Close,Fenwick Close,...,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1,B% Up 2,B For Up 2,B Agnst Up 2
0,ANA,Ducks,Western,Pacific,2018,Regular,82,101,48.13,48.35,...,150,47.36,332,369,40.99,166,239,42.04,95,131
1,ARI,Coyotes,Western,Pacific,2018,Regular,82,70,47.95,46.63,...,181,53.68,445,384,45.52,193,231,45.38,54,65
2,BOS,Bruins,Eastern,Atlantic,2018,Regular,82,112,52.29,52.30,...,119,52.17,373,342,45.45,170,204,48.46,63,67
3,BUF,Sabres,Eastern,Atlantic,2018,Regular,82,62,47.33,47.26,...,166,43.34,254,332,37.36,99,166,34.09,30,58
4,CAR,Hurricanes,Eastern,Metropolitan,2018,Regular,82,83,55.09,54.23,...,130,57.51,471,348,51.58,196,184,49.01,74,77

In [2]:
nhl_2018.head()

,Conference,Division,Name,SeasonType,Team,Season End,Cumulative Games,Points,Corsi Close,Fenwick Close,...,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1,B% Up 2,B For Up 2,B Agnst Up 2
0,1,3,10,0,0,2018,82,101,48.13,48.35,...,150,47.36,332,369,40.99,166,239,42.04,95,131
1,1,3,8,0,1,2018,82,70,47.95,46.63,...,181,53.68,445,384,45.52,193,231,45.38,54,65
2,0,0,4,0,2,2018,82,112,52.29,52.30,...,119,52.17,373,342,45.45,170,204,48.46,63,67
3,0,0,26,0,3,2018,82,62,47.33,47.26,...,166,43.34,254,332,37.36,99,166,34.09,30,58
4,0,2,14,0,4,2018,82,83,55.09,54.23,...,130,57.51,471,348,51.58,196,184,49.01,74,77

In [9]:
nhl_2018['Name']

0      10
1       8
2       4
3      26
4      14
5       2
6      11
7       1
8       0
9      29
10     25
11     20
12     21
13     17
14     30
15      5
16      9
17     23
18     15
19     24
20     27
21     12
22     22
23     28
24      3
25     18
26     19
27      6
28     13
29     16
       ..
94      8
95      4
96     26
97     14
98      2
99     11
100     1
101     0
102    29
103    25
104    20
105    21
106    17
107    30
108     5
109     9
110    23
111    15
112    24
113    27
114    12
115    22
116    28
117     3
118    18
119    19
120     6
121    13
122    16
123     7
Name: Name, Length: 124, dtype: int64

In [3]:
#convert dataframe to a numpy array for Keras

season_2018 = nhl_2018.values
season_2018

array([[   1.  ,    3.  ,   10.  , ...,   42.04,   95.  ,  131.  ],
       [   1.  ,    3.  ,    8.  , ...,   45.38,   54.  ,   65.  ],
       [   0.  ,    0.  ,    4.  , ...,   48.46,   63.  ,   67.  ],
       ...,
       [   1.  ,    3.  ,   13.  , ...,   62.5 ,   20.  ,   12.  ],
       [   1.  ,    1.  ,   16.  , ...,   44.9 ,   22.  ,   27.  ],
       [   0.  ,    2.  ,    7.  , ...,   31.71,   13.  ,   28.  ]])

In [4]:
season_2018.shape

(124, 71)

### loading the model

In [5]:
from keras.models import load_model
model = load_model('neural_model/neural_nhl.h5')

Using TensorFlow backend.

In [15]:
season_2018.shape

(124, 71)

### 1 = Playoffs | 0 = DNQ

In [17]:
neural_2018 = model.predict_classes(season_2018)

In [25]:
concatenate = {'Playoffs': neural_2018,
               'Name': reverse_nhl_2018['Name']}

In [27]:
results_2018 = pd.DataFrame(data = concatenate)

In [29]:
results_2018.to_csv('csv/nhl.prediction2018.csv', index = False)