In [1]:
import pandas as pd

In [11]:
league_2018_ml = pd.read_csv('csv/testing_nhl.2018/_prediction.model.ml.csv')
league_2018_ml.head()

,Abbrev,Conference,Division,Season End,Corsi Close,Fenwick Close,G% Down 1,G For Down 1,G Agnst Down 1,G% Tied,...,M Agnst Up 1,B% Down 1,B For Down 1,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1
0,ANA,Western,Pacific,2018,47.88,48.30,53.06,26,23,52.87,...,162,55.98,117,92,49.03,253,263,41.94,130,180
1,ARI,Western,Pacific,2018,47.44,45.97,48.89,22,23,49.47,...,167,55.00,165,135,53.78,349,300,45.57,149,178
2,BOS,Eastern,Atlantic,2018,52.40,52.10,54.90,28,23,53.85,...,113,63.79,148,84,51.66,280,262,47.83,121,132
3,BUF,Eastern,Atlantic,2018,47.17,46.89,33.87,21,41,39.76,...,87,58.65,183,129,43.22,185,243,37.97,71,116
4,CAR,Eastern,Metropolitan,2018,54.69,54.27,51.02,25,24,51.43,...,121,61.73,171,106,58.14,318,229,51.97,145,134

### apply one-hot encoding

In [3]:
data = league_2018_ml.values
Abbrev = data[:,0]
Conference = data[:,1]
Division = data[:,2]

In [4]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [5]:
label_encoder.fit(Abbrev)
encoded_abbrev = label_encoder.transform(Abbrev)

In [6]:
label_encoder.fit(Conference)
encoded_conference = label_encoder.transform(Conference)

In [7]:
label_encoder.fit(Division)
encoded_division = label_encoder.transform(Division)

In [8]:
concatenate = {'Abbrev': encoded_abbrev,
               'Conference': encoded_conference,
               'Division': encoded_division
               }

encoding_df = pd.DataFrame(data = concatenate)

In [9]:
encoding_df

    Abbrev  Conference  Division
0        0           1         3
1        1           1         3
2        2           0         0
3        3           0         0
4        4           0         2
5        5           0         2
6        6           1         3
7        7           1         1
8        8           1         1
9        9           1         1
10      10           0         0
11      11           1         3
12      12           0         0
13      13           1         3
14      14           1         1
15      15           0         0
16      16           0         2
17      17           1         1
18      18           0         2
19      19           0         2
20      20           0         0
21      21           0         2
22      22           0         2
23      23           1         3
24      24           1         1
25      25           0         0
26      26           0         0
27      27           1         3
28      28           1         3
29      29           1         1
30      30           0         2

In [ ]:
# encoding_df.to_csv('csv/encoded_2018.csv', index = False)

### Neural Network

In [10]:
encoded_ml = pd.read_csv('csv/encoded_2018.csv')
encoded_ml.head()

,Abbrev,Conference,Division,Season End,Corsi Close,Fenwick Close,G% Down 1,G For Down 1,G Agnst Down 1,G% Tied,...,M Agnst Up 1,B% Down 1,B For Down 1,B Agnst Down 1,B% Tied,B For Tied,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1
0,0,1,3,2018,47.88,48.30,53.06,26,23,52.87,...,162,55.98,117,92,49.03,253,263,41.94,130,180
1,1,1,3,2018,47.44,45.97,48.89,22,23,49.47,...,167,55.00,165,135,53.78,349,300,45.57,149,178
2,2,0,0,2018,52.40,52.10,54.90,28,23,53.85,...,113,63.79,148,84,51.66,280,262,47.83,121,132
3,3,0,0,2018,47.17,46.89,33.87,21,41,39.76,...,87,58.65,183,129,43.22,185,243,37.97,71,116
4,4,0,2,2018,54.69,54.27,51.02,25,24,51.43,...,121,61.73,171,106,58.14,318,229,51.97,145,134