manipupate data for view_one
---

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
csv_file = 'csv/data.csv'

In [3]:
rough_df = pd.read_csv(csv_file, dtype= object)

In [4]:
rough_df.head()

    name height weight age
0  chief    6.2    180  35
1   king    6.5    175  40
2    rex    5.7    150  26
3   boss    5.5    140  28

In [5]:
#drop rows with missing data
rough_df = rough_df.dropna(axis=0)
rough_df.head()

    name height weight age
0  chief    6.2    180  35
1   king    6.5    175  40
2    rex    5.7    150  26
3   boss    5.5    140  28

In [6]:
csv_file_cleaned = 'csv/clean_data.csv'
rough_df.to_csv(csv_file_cleaned, index = False)

importing the csv
---

In [7]:
# csv_file = 'spotify_data/data.csv'
csv_file = 'csv/clean_data.csv'
spotify_df = pd.read_csv(csv_file, encoding = 'ISO-8859-1')

In [8]:
for header in spotify_df:
    print(header)

name
height
weight
age

create the database
---

In [9]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [10]:
engine = create_engine('sqlite:///spotify_data.sqlite', echo = False)

In [11]:
conn = engine.connect()

In [13]:
Declare_Base = declarative_base()

class Music(Declare_Base):
    __tablename__ = 'spotify_table'
    
    id = Column(Integer, primary_key = True)
    Name = Column(String)
    Height = Column(Integer)
    Weight = Column(Integer)
    Age = Column(Integer)
    
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [14]:
Declare_Base.metadata.create_all(engine)

In [15]:
#orient = 'records' to create a list of data to write
#to_dict() cleans out DataFrame metadata

spotify_data = spotify_df.to_dict(orient = 'records')

In [16]:
#a list of dictionaries that represent each row of data
print(spotify_data[:5])

[{'name': 'chief', 'height': 6.2, 'weight': 180, 'age': 35}, {'name': 'king', 'height': 6.5, 'weight': 175, 'age': 40}, {'name': 'rex', 'height': 5.7, 'weight': 150, 'age': 26}, {'name': 'boss', 'height': 5.5, 'weight': 140, 'age': 28}]

In [17]:
metadata = MetaData(bind = engine)
metadata.reflect()

In [18]:
table = sqlalchemy.Table('spotify_table', metadata, autoload = True)

In [19]:
# when rerunning the code
conn.execute(table.delete())

In [20]:
conn.execute(table.insert(),spotify_data)

In [21]:
conn.execute('select * from spotify_table limit 5').fetchall()

[(1, None, None, None, None),
 (2, None, None, None, None),
 (3, None, None, None, None),
 (4, None, None, None, None)]

In [21]:
spotify_df.head()

,Date,Position,Streams,Track_Name,Artist,Region,URL,RELEASE,BPM,ENERGY,...,LOUD,VALENCE,LENGTH,ACOUSTIC,POP,Population,Country_Primary_Language,Latitude,Longitude,Normalized_Streams
0,42736,1,19272,Reggaetn Lento (Bailemos),CNCO,Ecuador,https://open.spotify.com/track/3AEZUABDXNtecAO...,42608,94,84,...,-3,71,0.154861,40,81,16290913,Spanish,-1.831239,-78.183406,0.001183
1,42736,2,19270,Chantaje,Shakira,Ecuador,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,42881,102,77,...,-3,91,0.136111,19,83,16290913,Spanish,-1.831239,-78.183406,0.001183
2,42736,3,15761,Otra Vez (feat. J Balvin),Zion & Lennox,Ecuador,https://open.spotify.com/track/3QwBODjSEzelZyV...,42643,96,77,...,-5,70,0.145139,6,81,16290913,Spanish,-1.831239,-78.183406,0.000967
3,42736,4,14954,Vente Pa' Ca,Ricky Martin,Ecuador,https://open.spotify.com/track/7DM4BPaS7uofFul...,42636,100,92,...,-4,53,0.179861,0,80,16290913,Spanish,-1.831239,-78.183406,0.000918
4,42736,5,14269,Safari,J Balvin,Ecuador,https://open.spotify.com/track/6rQSrBHf7HlZjtc...,42545,180,69,...,-4,63,0.143056,53,73,16290913,Spanish,-1.831239,-78.183406,0.000876

In [22]:
# python sql toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

import pandas as pd

In [23]:
# create engine using database file
engine = create_engine("sqlite:///spotify_data.sqlite")

In [24]:
inspector= inspect(engine)

In [25]:
inspector.get_table_names()

['spotify_table']

In [26]:
columns = inspector.get_columns('spotify_table')
for column in columns:
    print(column['name'], column['type'])

id INTEGER
Date INTEGER
Position INTEGER
Streams INTEGER
Track_name VARCHAR
Artist TEXT
Region TEXT
URL TEXT
RELEASE INTEGER
BPM INTEGER
ENERGY INTEGER
LOUD INTEGER
DANCE INTEGER
VALENCE INTEGER
LENGTH FLOAT
ACOUSTIC INTEGER
POP INTEGER
Population INTEGER
Country_Primary_Language TEXT
Latitude INTEGER
Longitude INTEGER
Normalized_streams FLOAT