In [1]:
import os

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
league_2017 = 'csv/cumulative_player_stats-20162017.csv'
league_2018 = 'csv/cumulative_player_stats-20172018.csv'

read_2017 = pd.read_csv(league_2017, dtype = object)
read_2018 = pd.read_csv(league_2018, dtype = object)

### Creating Sqlite Database

In [5]:
#Python SQL toolkite and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

In [6]:
Declare_Base = declarative_base()

class NHL_2018(Declare_Base):
    __tablename__ = 'table_2018'
    
    id = Column(Integer, primary_key = True) 
    Player_ID = Column(Integer) 
    LastName = Column(String)
    FirstName = Column(String)
    Jersey_Num = Column(Integer)
    Position = Column(String)
    Height = Column(String)
    Weight = Column(Integer)
    Birth_Date = Column(String)
    Age = Column(Integer)
    Birth_City = Column(String)
    Birth_Country = Column(String)
    Rookie = Column(String)
    Team_ID = Column(Integer)
    Team_Abbr = Column(String)
    Team_City = Column(String)
    Team_Name = Column(String)
    GamesPlayed = Column(Integer)
    Goals = Column(Integer)
    Assists = Column(Integer)
    Points = Column(Integer)
    Shots = Column(Integer)
    
    def __repr__(self):
        return f'id={self.id},name={self.name}'

In [7]:
engine = create_engine('sqlite:///league_2018.sqlite')
conn = engine.connect()

In [8]:
Declare_Base.metadata.create_all(engine)

In [9]:
metadata = MetaData(bind = engine)
metadata.reflect()

In [10]:
table = sqlalchemy.Table('table_2018', metadata, autoload = True)

---

In [11]:
#when rerunning the code
conn.execute(table.delete())

---

In [12]:
nhl_2018 = read_2018.to_dict(orient = 'records')

In [13]:
print(nhl_2018[:1])

[{'Player_ID': '4419', 'LastName': 'Abdelkader', 'FirstName': 'Justin', 'Jersey_Num': '8', 'Position': 'LW', 'Height': '6\'2"', 'Weight': '214', 'Birth_Date': '2/25/1987', 'Age': '31', 'Birth_City': 'Muskegon, MI', 'Birth_Country': 'USA', 'Rookie': 'N', 'Team_ID': '16', 'Team_Abbr': 'DET', 'Team_City': 'Detroit', 'Team_Name': 'Red Wings', 'GamesPlayed': '75', 'Goals': '13', 'Assists': '22', 'Points': '35', 'Shots': '110'}]

In [14]:
conn.execute(table.insert(), nhl_2018)

### testing database

In [15]:
conn.execute('SELECT * FROM table_2018 LIMIT 5').fetchall()

[(1, 4419, 'Abdelkader', 'Justin', 8, 'LW', '6\'2"', 214, '2/25/1987', 31, 'Muskegon, MI', 'USA', 'N', 16, 'DET', 'Detroit', 'Red Wings', 75, 13, 22, 35, 110),
 (2, 9554, 'Aberg', 'Pontus', 46, 'LW', '5\'11"', 196, '9/22/1993', 24, 'Stockholm', 'Sweden', 'N', 24, 'EDM', 'Edmonton', 'Oilers', 53, 4, 12, 16, 70),
 (3, 5927, 'Acciari', 'Noel', 55, 'C', '5\'10"', 208, '12/1/1991', 26, 'Johnston, RI', 'USA', 'N', 11, 'BOS', 'Boston', 'Bruins', 60, 10, 1, 11, 66),
 (4, 5353, 'Agostino', 'Kenny', 18, 'LW', '6\'0"', 202, '4/30/1992', 25, 'Morristown, NJ', 'USA', 'N', 11, 'BOS', 'Boston', 'Bruins', 5, 0, 1, 1, 11),
 (5, 5630, 'Aho', 'Sebastian', 20, 'RW', '5\'11"', 172, '7/26/1997', 20, 'Rauma', 'Finland', 'N', 3, 'CAR', 'Carolina', 'Hurricanes', 78, 29, 36, 65, 200)]

### inspect database

In [16]:
from sqlalchemy import inspect

In [17]:
inspector = inspect(engine)
inspector.get_table_names()

['table_2018']

In [18]:
columns = inspector.get_columns('table_2018')
for column in columns:
    print(column['name'], column['type'])

id INTEGER
Player_ID INTEGER
LastName VARCHAR
FirstName VARCHAR
Jersey_Num INTEGER
Position VARCHAR
Height VARCHAR
Weight INTEGER
Birth_Date VARCHAR
Age INTEGER
Birth_City VARCHAR
Birth_Country VARCHAR
Rookie VARCHAR
Team_ID INTEGER
Team_Abbr VARCHAR
Team_City VARCHAR
Team_Name VARCHAR
GamesPlayed INTEGER
Goals INTEGER
Assists INTEGER
Points INTEGER
Shots INTEGER