In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
rough_file = 'csv/data.csv'

In [3]:
rough_df = pd.read_csv(rough_file, dtype = object)

In [4]:
rough_df.head()

    name height weight age
0  chief    6.2    180  35
1   king    6.5    175  40
2    rex    5.7    150  26
3   boss    5.5    140  28

In [5]:
rough_df = rough_df.dropna(axis = 0)
rough_df.head()

    name height weight age
0  chief    6.2    180  35
1   king    6.5    175  40
2    rex    5.7    150  26
3   boss    5.5    140  28

In [6]:
clean_file = 'csv/clean_data.csv'

rough_df.to_csv(clean_file, index = False)

### Importing the CSV

In [7]:
csv_file = 'csv/clean_data.csv'
nhl_stats = pd.read_csv(csv_file, encoding = 'ISO-8859-1')

In [8]:
for header in nhl_stats:
    print(header)

name
height
weight
age

### Create the Database

In [9]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

from sqlalchemy.orm import Session

In [10]:
engine = create_engine('sqlite:///nhl_stats.sqlite', echo = False)

In [11]:
conn = engine.connect()

In [12]:
Declare_Base = declarative_base()

class NHL(Declare_Base):
    __tablename__ = 'nhl_table'
    
    id = Column(Integer, primary_key = True)
    Name = Column(String)
    Height = Column(Integer)
    Weight = Column(Integer)
    Age = Column(Integer)
    
    def __repr__(self):
        return f'id={self.id}, name={self.name}'

In [13]:
Declare_Base.metadata.create_all(engine)

In [14]:
nhl_data = nhl_stats.to_dict(orient = 'records')

In [15]:
print(nhl_data)

[{'name': 'chief', 'height': 6.2, 'weight': 180, 'age': 35}, {'name': 'king', 'height': 6.5, 'weight': 175, 'age': 40}, {'name': 'rex', 'height': 5.7, 'weight': 150, 'age': 26}, {'name': 'boss', 'height': 5.5, 'weight': 140, 'age': 28}]

### Create engine using Database file

In [16]:
database_engine = create_engine('sqlite:///nhl_stats.sqlite')

In [17]:
inspector = inspect(database_engine)

In [18]:
inspector.get_table_names()

['nhl_table']

In [19]:
columns = inspector.get_columns('nhl_table')
for column in columns:
    print(column['name'], column['type'])

id INTEGER
Name VARCHAR
Height INTEGER
Weight INTEGER
Age INTEGER