In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
rough_file = 'csv/csv_combo_stats/combo_stats_2017_From-season_end.csv'

In [3]:
rough_df = pd.read_csv(rough_file, dtype = object)

In [4]:
rough_df.head()

,Team,Season End,Season Type,From / To,Game,Points,Corsi S Adj,Corsi SV Adj,Corsi EVA Adj,Corsi Close,...,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1,B% Up 2,B For Up 2,B Agnst Up 2,B% Up 3+,B For Up 3+,B Agnst Up 3+
0,ANA,2017,Regular,From,82,105,50.3,50.25,50.45,50.1,...,351,41.24,200,285,37.93,55,90,41.56,32,45
1,ARI,2017,Regular,From,82,70,44.24,44.13,43.98,45.12,...,399,39.83,94,142,34.9,52,97,29.73,22,52
2,BOS,2017,Regular,From,82,95,55.26,55.28,54.16,54.26,...,371,40.11,144,215,49.69,81,82,41.3,38,54
3,BUF,2017,Regular,From,82,78,46.97,46.98,46.4,47.9,...,314,40.46,142,209,31.33,47,103,36.54,19,33
4,CAR,2017,Regular,From,82,87,51.14,51.1,49.97,50.8,...,388,46.87,202,229,46.3,50,58,46.43,26,30

In [5]:
rough_df = rough_df.dropna(axis = 0)
rough_df.head()

,Team,Season End,Season Type,From / To,Game,Points,Corsi S Adj,Corsi SV Adj,Corsi EVA Adj,Corsi Close,...,B Agnst Tied,B% Up 1,B For Up 1,B Agnst Up 1,B% Up 2,B For Up 2,B Agnst Up 2,B% Up 3+,B For Up 3+,B Agnst Up 3+
0,ANA,2017,Regular,From,82,105,50.3,50.25,50.45,50.1,...,351,41.24,200,285,37.93,55,90,41.56,32,45
1,ARI,2017,Regular,From,82,70,44.24,44.13,43.98,45.12,...,399,39.83,94,142,34.9,52,97,29.73,22,52
2,BOS,2017,Regular,From,82,95,55.26,55.28,54.16,54.26,...,371,40.11,144,215,49.69,81,82,41.3,38,54
3,BUF,2017,Regular,From,82,78,46.97,46.98,46.4,47.9,...,314,40.46,142,209,31.33,47,103,36.54,19,33
4,CAR,2017,Regular,From,82,87,51.14,51.1,49.97,50.8,...,388,46.87,202,229,46.3,50,58,46.43,26,30

In [6]:
clean_file = 'csv/clean_data.csv'

rough_df.to_csv(clean_file, index = False)

### Importing the CSV

In [7]:
csv_file = 'csv/clean_data.csv'
nhl_stats = pd.read_csv(csv_file, encoding = 'ISO-8859-1')

In [8]:
for header in nhl_stats:
    print(header)

Team
Season End
Season Type
From / To
Game
Points
Corsi S Adj
Corsi SV Adj
Corsi EVA Adj
Corsi Close
Fenwick S Adj
Fenwick SV Adj
Fenwick EVA Adj
Fenwick Close
SOG S Adj
SOG SV Adj
SOG EVA Adj
SOG Close
G Attempts ScoreAdj%
G% Down 3+
G For Down 3+
G Agnst Down 3+
G% Down 2
G For Down 2
G Agnst Down 2
G% Down 1
G For Down 1
G Agnst Down 1
G% Tied
G For Tied
G Agnst Tied
G% Up 1
G For Up 1
G Agnst Up 1
G% Up 2
G For Up 2
G Agnst Up 2
G% Up 3+
G For Up 3+
G Agnst Up 3+
S Attempts ScoreAdj%
S% Down 3+
S For Down 3+
S Agnst Down 3+
S% Down 2
S For Down 2
S Agnst Down 2
S% Down 1
S For Down 1
S Agnst Down 1
S% Tied
S For Tied
S Agnst Tied
S% Up 1
S For Up 1
S Agnst Up 1
S% Up 2
S For Up 2
S Agnst Up 2
S% Up 3+
S For Up 3+
S Agnst Up 3+
M Attempts ScoreAdj%
M% Down 3+
M For Down 3+
M Agnst Down 3+
M% Down 2
M For Down 2
M Agnst Down 2
M% Down 1
M For Down 1
M Agnst Down 1
M% Tied
M For Tied
M Agnst Tied
M% Up 1
M For Up 1
M Agnst Up 1
M% Up 2
M For Up 2
M Agnst Up 2
M% Up 3+
M For Up 3+
M Agnst Up 3+
B Attempts Score Adj%
B% Down 3+
B For Down 3+
B Agnst Down 3+
B% Down 2
B For Down 2
B Agnst Down 2
B% Down 1
B For Down 1
B Agnst Down 1
B% Tied
B For Tied
B Agnst Tied
B% Up 1
B For Up 1
B Agnst Up 1
B% Up 2
B For Up 2
B Agnst Up 2
B% Up 3+
B For Up 3+
B Agnst Up 3+

### Create the Database

In [9]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

from sqlalchemy.orm import Session

In [10]:
engine = create_engine('sqlite:///nhl_stats.sqlite', echo = False)

In [11]:
conn = engine.connect()

In [12]:
Declare_Base = declarative_base()

class NHL(Declare_Base):
    __tablename__ = 'nhl_table'
    
    id = Column(Integer, primary_key = True)
    Name = Column(String)
    Height = Column(Integer)
    Weight = Column(Integer)
    Age = Column(Integer)
    
    def __repr__(self):
        return f'id={self.id}, name={self.name}'

In [13]:
Declare_Base.metadata.create_all(engine)

In [14]:
nhl_data = nhl_stats.to_dict(orient = 'records')

In [15]:
print(nhl_data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

### Create engine using Database file

In [16]:
database_engine = create_engine('sqlite:///nhl_stats.sqlite')

In [17]:
inspector = inspect(database_engine)

In [18]:
inspector.get_table_names()

['nhl_table']

In [19]:
columns = inspector.get_columns('nhl_table')
for column in columns:
    print(column['name'], column['type'])

id INTEGER
Name VARCHAR
Height INTEGER
Weight INTEGER
Age INTEGER